div#quote-box{
    background-color:gray;
    width: 35%;
    margin:auto auto;
    color:white;
    margin-top:20vh !important;
    padding-bottom: 80px !important;
    border-radius: 10px;
    padding:15px 40px;
    text-align:center;
  }
  div#text{
    font-size:30px;
    padding-top:30px;
    text-align:center;
    margin:0 10px;
  }
  div#author{
    text-align:center;
  }
  .btn{
    float:right;
  }
  body{
    background-color:black;
  }
  .fa-quote-right{
    float:right;
  }
  .fa-quote-left{
    float:left;
  }
  .fa-solid{
    font-size:40px;
  }
  a.creator, a#tweet-quote{
    font-size:16px;
    width:100%;
    color:#F3EBE9;
    float:left;
    margin-top:20px !important;
    text-decoration: none;
  }
  a.creator:hover, , a#tweet-quote:hover{
    color:#DFDEDE;
  }
  a#tweet-quote{
    color:gray;
    background-color:white;
    padding:5px;
    width:30px;
    height:30px;
    border-radius:5px;
  }
  a.creator{
    margin-top:50px !important;
    margin-left:15px;
  }
  
  